---
layout: default
title: Archive
---

<div>

  <h2>Archive</h2>

  <section class="archive_list">
    {% for category in site.categories %}

    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>

  <h2>Tag cloud</h2>
  <section class="archive_list">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in site.tags %}
    <span class="post_tag">
      <a class="post_tag" href="/tag/{{tag[0] | slugify }}">
        <data data-icon="ei-tag"></data>{{tag[0]}}</a>{% if forloop.last == false %},{% endif %}
    </span>
    {% endfor %}
  </section>

  <footer class="article-footer" mar>
  </footer>
</div>


