---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <h1 class="article_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="article_meta">
      <time class="post_date">{{ page.date | date: "%d %B %Y, %A" }}</time>
      {% if page.author %}
      • <span itemprop="author" itemscope
              itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    <p class="article_meta">
      {% assign sorted_tags = page.tags | sort %}
      <data data-icon="ei-tag"></data>
      {% for tag in sorted_tags %}
      <span class="post_tag">
        <a href="{{site.baseurl}}/tag/{{tag | slugify}}">
          {{tag}}</a>{% if forloop.last == false %},{% endif %}
      </span>
      {% endfor %}
    </p>
    </p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  <footer class="article-footer">


  </footer>

  {% include dq.html %}

</article>
